#exercises {
	margin:10px;
}

.exerciseName {
	float: left;
	width: 100px;
	height: 75px;
	border:1px solid gray;
	text-align: center;
	padding:5px;
	
	&:hover {
		background: gray;
		cursor: pointer;
	}
	
}

.reportHeader {
	text-align: center;

	li {
		text-align: left;
	}
}

.exercisesError {
	text-align: center;
	color:black;
}